<!DOCTYPE html>
<html>
<head>
    <title>Notifier</title>
    <link rel="stylesheet" href="/static/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="/static/codemirror/5.45.0/codemirror.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/codemirror/5.45.0/codemirror.min.js"></script>
    <script type="text/javascript" src="/static/codemirror/5.45.0/javascript.min.js"></script>
    <link href="/static/codemirror.bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="/static/home.js"></script>

    <style>
        .margin-10 {
            margin-top: 1.0em;
            margin-bottom: 1.0em;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">sha1ver: {{.Sha1ver}}</div>
    <div class="row">buildTime: {{.BuildTime}}</div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Path</th>
                <th>Test</th>
                <th>Config</th>
                <th>Test by Config</th>
            </tr>
            </thead>
            <tbody>
            {{range $i, $a := .Items}}
                <tr>
                    <td>{{$i}}</td>
                    <td>{{$a.Name}}</td>
                    <td class="path">{{$a.Path}}</td>
                    <td><a class="testLink">Test</a></td>
                    <td>
                        {{range $a.ConfigIDs}}
                            <a title="Edit Config" class="editConfig">{{.}}</a>
                        {{end}}
                        <a title="New Config" class="editConfig New">+</a>
                    </td>

                    <td>
                        {{range $a.ConfigIDs}}
                            <a title="Test notify by this config" class="configNotify">{{.}}</a>
                        {{end}}
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>

    <div class="row">
        <label for="reqEditor">Request:</label><textarea id="reqEditor"></textarea>
        <div class="text-center margin-10">
            <span id="configDiv" style="display: none">
                ConfigID：<input id="configIDInput" placeholder="Config ID" type="text">
            </span>
            <button type="button" id="btnSend" class="btn btn-default">Test Notify</button>
            <button type="button" id="btnDelete" class="btn btn-default" style="display: none;">Drop Config</button>
        </div>
    </div>

    <div class="row">
        <label for="rspEditor">Response:</label><textarea id="rspEditor"></textarea>
    </div>
</div>
</body>
</html>
